# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Virtual Environment
# -----------------------------
.venv/
venv/
env/

# -----------------------------
# Environment Variables
# -----------------------------
.env
.env.*
!.env.example

# -----------------------------
# Django
# -----------------------------
db.sqlite3
*.sqlite3

media/
staticfiles/

# -----------------------------
# Logs
# -----------------------------
*.log
logs/

# -----------------------------
# Coverage
# -----------------------------
.coverage
htmlcov/
.coverage.*

# -----------------------------
# Pytest
# -----------------------------
.pytest_cache/

# -----------------------------
# Ruff
# -----------------------------
.ruff_cache/

# -----------------------------
# mypy
# -----------------------------
.mypy_cache/

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# OS
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Build
# -----------------------------
build/
dist/
*.egg-info/

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Local PostgreSQL Dumps
# -----------------------------
*.sql

# -----------------------------
# Docker
# -----------------------------
*.pid
docker-compose.override.yml

# -----------------------------
# Secrets
# -----------------------------
*.pem
*.key